	    body {background-color: grey;}
		h1   {color: gold;text-align: center;}
		ul   {padding-top: %; color: gold; font-size: 1.5em;}
		ol   {padding-top: 0%; margin-bottom: 5%; margin-left: 2%; color: white; font-size: 1.3em; line-height: 1.4;}
		figcaption {color: white;font-style: italic;}